<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Crea tu usuario</h1>

    <form action="/signup" method="POST">
        <input type="text" name='name' placeholder="Pon tu nombre">
        <input type="text" name='email' placeholder="Pon tu email">
        <input type="password" name='password' placeholder="Pon tu password">
        <button type="submit">Crear usuario</button>
    </form>

    
</body>
</html>